.grid{
    width: 400px;
    height: 600px;
    background-color: #92dcfe;
    /* background-color: #67CDFD; */
    position: relative;
    text-align: center;
    font-size: 200px;
    margin: 0 auto;
}

.doodler{
    width: 87px;
    height: 100px;
    position: absolute;
    background-image: url("perry.png");
    z-index: 10;
}
.platform{
    width: 90px;
    height: 25px;
    /* background-color: #fff; */
    position: absolute;
    background-image: url("cloud1.png");
}
.game-over{
    background-image: url("game-over.PNG");
    width: 260px;
    height: 189px;
    position: absolute;
    top: 60%;
    left: 20% !important;
}
.start-again {
    cursor: pointer;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 20;
    padding: 0.8rem 1.5rem;
    background: #fff;
    border-radius: 7px;
}
.start-again:hover{
    background-color: #1BB2A3;
    color: #fff;
}